MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/dbname\nNEXT_PUBLIC_SITE_URL=http://localhost:3000\nCLOUDINARY_CLOUD_NAME=\nCLOUDINARY_API_KEY=\nCLOUDINARY_API_SECRET=\nNEXTAUTH_SECRET=\nNEXTAUTH_URL=http://localhost:3000\n